<div class="col-6 center">
  <h1>Edit Book Info</h1>
  <%# book = Book.find(@book.id) %>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :genre %>
    <%= f.input :classification, label: "Classification (Fiction/Nonfiction/etc)" %>
    <%= f.input :year %>
    <br />
    <br />
    <%= f.submit 'Edit Book', class: 'btn btn-primary' %>
  <% end %>
</div>
<br />
<br />
<%= link_to 'Remove Book', book_path(@book), :method => :delete, class: 'btn btn-danger' %>
