<div class="booyah-box col-10 offset-1">
  <h1>Edit Book Info</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :genre %>
    <%= f.input :classification, label: "Classification (Fiction/Nonfiction/etc)" %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Edit Book', class: 'btn btn-primary' %>
  <% end %>
<br />
<br />
  <%= link_to 'Remove Book', book_path(@book), :method => :delete, class: 'btn btn-danger' %>
</div>
