<div class="booyah-box col-10 offset-1">
  <h1>Enter New Book Info</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :genre %>
    <%= f.input :classification, label: "Classification (Fiction/Nonfiction/etc)" %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Add Book', class: 'btn btn-danger' %>
  <% end %>
</div>
