<div class="col-6 center">
  <h1>Enter New Book Info</h1>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :genre %>
    <%= f.input :classification %>
    <%= f.input :year %>
    <br />
    <%= f.submit 'Add Book', class: 'btn btn-danger' %>
  <% end %>
</div>
